{% extends 'base.html' %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/grid.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/version.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/detector.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/formatinf.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/errorlevel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bitmat.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/datablock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bmparser.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/datamask.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/rsdecoder.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/gf256poly.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/gf256.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/decoder.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/qrcode.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/findpat.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/alignpat.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/databr.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/webqr.js') }}"></script>

<script> 
var userAgent = navigator.userAgent.toLowerCase(); // 접속 핸드폰 정보 
   
// 모바일 홈페이지 바로가기 링크 생성 
if(userAgent.match('iphone')) { 
    document.write('<link rel="apple-touch-icon" href="https://webqr.com/vid.png" />') 
} else if(userAgent.match('ipad')) { 
    document.write('<link rel="apple-touch-icon" sizes="72*72" href="https://webqr.com/vid.png" />') 
} else if(userAgent.match('android')) { 
    document.write('<link rel="shortcut icon" href="https://webqr.com/vid.png" />') 
} 
</script>

{% endblock %}

{% block content %}

<div id="main">
<div id="header">
<div style="position:relative;top:+20px;left:0px;"><g:plusone size="medium"></g:plusone></div>
</div>
<div id="mainbody">
<table class="tsel" border="0" width="100%">
<tr>
<td valign="top" align="center" width="50%">
<table class="tsel" border="0">
<tr>
<td><img class="selector" id="webcamimg" src="https://webqr.com/vid.png" onclick="setwebcam()" align="left" hidden="true"/></td>
<td><img class="selector" id="qrimg" src="https://webqr.com/cam.png" onclick="setimg()" align="right" hidden="true" /></td></tr>
<tr><td colspan="2" align="center">
<div id="outdiv">
</div></td></tr>
</table>
</td>
</tr>
<tr><td colspan="3" align="center">
<img src="https://webqr.com/down.png"/>
</td></tr>
<tr><td colspan="3" align="center">
<div id="result"></div>
</td></tr>
</table>
</div>&nbsp;
</div>
<canvas id="qr-canvas" width="800" height="600" hidden="true"></canvas>
<script type="text/javascript">load();</script>
<script> 
var userAgent = navigator.userAgent.toLowerCase(); // 접속 핸드폰 정보 
   
// 모바일 홈페이지 바로가기 링크 생성 
if(userAgent.match('iphone')) { 
    document.write('<link rel="apple-touch-icon" href="https://webqr.com/vid.png" />') 
} else if(userAgent.match('ipad')) { 
    document.write('<link rel="apple-touch-icon" sizes="72*72" href="https://webqr.com/vid.png" />') 
} else if(userAgent.match('android')) { 
    document.write('<link rel="shortcut icon" href="https://webqr.com/vid.png" />') 
} 
    console.log(userAgent);
</script>
{% endblock %}