{% extends 'base.html' %}

{% block content %}
 <div id="seatmap" ></div>
{% endblock %}

{% block leafletjs %}
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/leaflet.sprite.js') }}"></script>
<script> 
var map = L.map('seatmap', {
    crs: L.CRS.Simple,    
    zoomControl: false,
    attributionControl: true,
    scrollWheelZoom: false,
    dragging: false    
});    

var imgWidth = 0;
var imgHeight = 0;
var width = document.getElementById('seatmap').offsetWidth;  
var height = document.getElementById('seatmap').offsetHeight;
var bounds = [[0,0], [height,width]];    
//var image = L.imageOverlay("{{ url_for('static', filename= 'img/6f.JPG')}}",bounds).addTo(map);
    //, bounds).addTo(map);
var img = new Image();
//img.src = 'https://qrproject.run.goorm.io/static/img/6f.JPG';
img.src = '{{ url_for('static', filename= 'img/6f.JPG')}}';    
    
// spriteIcon : blue, red, green
if (img.complete) {
    imgWidth = img.width;
    imgHeight = img.height;
    {% for s in seat %}    
        console.log(height + " " + imgHeight + " " + height/imgHeight);        
        L.marker(L.latLng([height-({{s['ypos']}}* (height/imgHeight)), ({{s['xpos']}} * (width/imgWidth))]),
            {% if s['occu_id'] != '' and s['occu_id'] is not none %}
                {icon: L.spriteIcon('red')}).addTo(map);
            {% else %}
                {icon: L.spriteIcon('green')}).addTo(map);
            {% endif %}
    {% endfor %}
} else {  
  img.addEventListener('error', function() {
      alert('error')
  })
} 

    
var baseMaps = {
  "6F": L.imageOverlay('{{ url_for('static', filename= 'img/6f.JPG')}}', bounds),
  "7F": L.imageOverlay("{{ url_for('static', filename= 'img/map.jpg')}}", bounds),
  "8F": L.imageOverlay("{{ url_for('static', filename= 'img/6f.JPG')}}", bounds)
}
L.control.layers(baseMaps).addTo(map);
    
// map.on("baselayerchange", (event) => {
//   console.log(event.name); // 변경 후의 층수를 출력한다.
//   // 층별 처리를 구현한다.
// });
    
var sol = L.latLng([ 145, 175.2 ]);
// L.marker(sol).addTo(map);    
L.marker(sol, {  icon: L.spriteIcon('red')}).addTo(map);
//map.setView( [70, 120], 1);    

map.addLayer(baseMaps["6F"]);
map.fitBounds(bounds);    
    


setTimeout(function(){
   window.location.reload(1);
}, 5000);



 
</script>

{% endblock %}



