{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>        
        <br>  
        <label for="rnk">직급</label>
        <select name="rnk" id="rnk" value="" >
            <option value="" selected="selected">선택</option>
            <option value="부장">부장</option>
            <option value="차장">차장</option>
            <option value="과장">과장</option>
            <option value="대리">대림</option>
            <option value="사원">사원</option>
        </select>        
        <label for="phone_no">CP#</label>
        <input name="phone_no" id="phone_no" required>
        <br>
        <input type="submit" value="Register">
    </form>
{% endblock %}