<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    
    {% block js %}{% endblock %}
</head>
<body>    

<title>{% block title %}{% endblock %} - mainapp</title>
{#<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light" id="menubar" style="background-color: #e3f2fd;">  #}
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarNav">#}
{#        #}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#"><span class="glyphicon glyphicon-plus"></span>D_SCHECK</a>#}
{#            </li>#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="/qrscan"><span class="glyphicon  glyphicon-qrcode" aria-hidden="true"></span>QR SCAN</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/seatstatus">#_STATUS</a>#}
{#            </li>            #}
{#        </ul>#}
{#        {% if g.user %}   #}
{#        <div>                #}
{#            <h3>#}
{#                {{ g.user['username']}}님#}
{#            </h3>   #}
{#        </div>#}
{#        <button type="button" class="btn btn-default btn-lg">#}
{#            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>             #}
{#            <a href= {{ url_for('auth.logout') }} class="navbar-brand"><span class="glyphicon  glyphicon-log-out" aria-hidden="true"></span>Logout</a>#}
{#        </button>#}
{#        {% else %}#}
{#        <button type="button" class="btn btn-default btn-sm">#}
{#            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>             #}
{#            <a href= {{ url_for('auth.login') }} class="navbar-brand"><span class="glyphicon  glyphicon-log-out" aria-hidden="true"></span>Login</a>#}
{#        </button>#}
{#        <button type="button" class="btn btn-default btn-sm">#}
{#            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>             #}
{#            <a href= {{ url_for('auth.register') }} class="navbar-brand"><span class="glyphicon  glyphicon-log-out" aria-hidden="true"></span>회원 가입</a>#}
{#        </button>#}
{#        {% endif %}#}
{#    </div>      #}
{#</nav>#}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>     
  {% block content %}{% endblock %}
</section>
 
    {% block leafletjs %} {% endblock %}
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>